header {
 text-align: center;
 color: black;
}

.imgre {
width: 53%;
}



blockquote{
 
  width:80%;
  margin:10px auto;
  font-family:Open sans-serif;

  padding:0.5em 5px 1em 10px;
  border-left:4px solid rgb(2, 2, 2) ;
  line-height:1.6;
  position: relative;
}

.artih1{
  font-size: 38px;
}

.artip{
  font-size: 25px;
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 0;
}

.divcenter {
  text-align: center;


}

p {
    font-family:  serif, sans-serif;
}

h1{
text-align: center;

}

.htitle{
  font-size:30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
  color: #1e1e1e;
  text-decoration:none;
}

a:visited {
  text-decoration:none;
  color: #1e1e1e;

}

.imgctr{
margin: 0;
}


a:hover {
  font-weight: bold;
  color: #1e1e1e;
}

.active {
  font-weight: bold;
  color:black;
  
}

  nav ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color:#1e1e1e;
    font-family:verdana,sans-serif,serif;
  }

.ulmenu{


}



.vidiv {
  text-align: center;
  
}

dl {
  padding-left: 140px;
  padding-right: 140px;

}

dt {
  font-size: 20px;
}

dd {
  margin-bottom: 40px;
   
}

  .imgtop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
  }

  .imgfooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  .geor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 42%;
  }

  article{
    padding-left: 140px;
    padding-right: 140px;
  }

  aside{
    padding-left: 140px;
    padding-right: 140px;
  }

footer {

  text-align: center;
  font-size: 12px;
}











































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































  
